
body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    > div {
    font-size: 1.6em ; 
        > span span {
            font-size: 1.6em ;
        }      
    } 
    > strong { 
        font-size: 1.6em;
     }    /* хоча можна було і не писати саме для стронг і так би було 25.6 пікселів, бо стронг загорнутий у дів*/
}

ul {
    list-style: square;
}

    
